{# Banner de Reserva de Derechos #}
<!-- Seccion Banner -->
<section class="fondoReservaDerechos">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img src="{{ asset('bundles/app/img/marcandur_servicios_0000_RESERVA-DE-DERECHOS.png') }}" 
                class="img-responsive imagenReservaDerechos" alt="Reserva de Derechos"/>
        </div>
    </div>         
</section>
<!-- Fin Banner -->