{# Banner de asesoria legal #}
<!-- Seccion Banner -->
<section class="fondoDerechosAutor">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <img src="{{ asset('bundles/app/img/Marcandur_0000_banner_asesoria_legal.png') }}" 
                class="img-responsive imagenIMPI" alt="Derechos de Autor"/>
        </div>
    </div>         
</section><!-- Fin Banner -->
