{# Pie de página del home #}
<footer>
    <section class="fondoGris">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 textoDireccion">
                    <p>Av. Adolfo López Mateos #20</p>
                    <p>Piso 3, Col. Santa Cruz del Monte , Naucalpan</p>
                    <p>C.P. 53110</p>
                    <p>CONTACT&Aacute;NOS DE MANERA INMEDIATA A LOS TEL&Eacute;FONOS (0155)5373-2996,(0155)2789-7524</p>
                    <p>+52-1-55-7112-6384 contacto@marcandur.com</p>
                </div>
            </div>                        
        </div>
    </section>
    <section class="well1">
        <div class="container"> 
            <p class="rights text-center">
                MARCANDUR &#169; <span id="copyright-year"></span>
                <a href="index-5.html">Privacy Policy</a>
            </p>          
        </div> 
    </section>    
</footer>