{# Plantilla del boton preguntas frecuentes, recibe como parametro el nombre del 
servicio y redirige a la vista de preguntas frecuentes del servicio 
correspondiente #}
<section class="well well3"><!-- Preguntas Frecuentes -->
    <div class="container">
      <div class="col-lg-3 col-md-3 col-sm-12"></div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <a href="{{path('PreguntasFrecuentesMarcas')}}" class="btn btn-block btn-primary text-center">PREGUNTAS FRECUENTES <span class="fa-angle-right Preguntas"></span></a>
        </div>  
      <div class="col-lg-3 col-md-3 col-sm-12"></div>
    </div>        
</section><!-- Fin Preguntas Frecuentes -->
