{# Plantilla de servicios de Marcas Fase 1 #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<style>
    
</style>
{% endblock %}
{% block body %}
    <div class="page">
        <!-- Encabezado -->
        {% include 'default/encabezado.html.twig' %}
        <!-- Fin de Encabezado -->
        <!-- Contenido -->
        <main> 
            {% include 'servicios/bannerReservaDerechos.html.twig' %}
            <section class="well well2"><!-- Texto -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-12"></div>
                        <div class="col-lg-10 col-md-10 col-sm-12 textoTituloFase">
                            FASE 1: DICTAMEN PREIVO (B&Uacute;SQUEDA DE ANTECEDENTES)
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-12"></div>
                        <div class="col-lg-10 col-md-10 col-sm-12 textoFase">
                            <p class="textoContenido">El resultado del 
                            <span class="textoAzul">Dictamen Previo</span> es 
                            sumamente importante. Nos servirá para determinar:                                    
                            </p>
                            <ul class="textoContenido">
                                <li>a) Si el título, nombre o denominaci&oacute;n que 
                                pretendemos se encuentra disponible; es decir, si
                                no ha sido reservado por alguien más.</li>
                                <li>b) Para el caso de los personajes humanos de 
                                caracterizaci&oacute;n, o ficticios o simb&oacute;licos y las 
                                promociones publicitarias, el <span class="textoAzul">Dictamen Previo</span> te 
                                indicará si las características propias que 
                                pretendes proteger, son lo suficientemente 
                                originales para obtener una <span class="textoAzul">Reserva de Derechos 
                                al Uso Exclusivo</span>.</li>
                                <li>c)	Las probabilidades de éxito que tendrías 
                                    de obtener tu <span class="textoAzul">Reserva de Derechos</span> en caso de 
                                    que se encuentre disponible.</li>
                            </ul>
                            <p class="textoContenido">El precio por el 
                            <span class="textoAzul">Dictamen Previo</span> 
                            (Búsqueda de Antecedentes) es de $1,185.00 IVA incluido.</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12"></div>
                    </div>
                    {% include 'servicios/solicitudReservaDerechos.html.twig' %}
                </div>        
            </section><!-- Fin Texto -->
            <!-- Conoce mas -->
            {% include 'servicios/conoceMas.html.twig' %}
            <!-- Fin Conoce mas -->
            <!-- Preguntas Frecuentes -->
            {% include 'servicios/preguntasFrecuentes.html.twig' %}
            <!-- Fin Preguntas Frecuentes -->
            <!-- Seccion Texto -->
            {% include 'servicios/texto.html.twig' %}
            <!-- Fin Seccion Texto --> 
        </main><!-- Fin contenido -->
        {% include 'servicios/pie.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function(){
            document.getElementById("menu1").removeAttribute("class");
            document.getElementById("menu3").setAttribute("class","dropdown active");
        })
    </script>
{% endblock %}
