{# Plantilla del Boton para la solicitud de reserva de derechos #}
<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-12"></div>
    <div class="col-lg-10 col-md-10 col-sm-12">
        <p class="textoInfor">Para solicitar este servicio 
        es necesario que nos proporciones los siguientes 
        datos:</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12"></div>
</div>
<div class="row"><!-- Boton para la solicitud -->
    <div class="col-lg-1 col-md-1 col-sm-12"></div>
    <div class="col-lg-10 col-md-10 col-sm-12">
        <div class="col-lg-4 col-md-4 col-sm-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <a href="{{ path('formularioReservaDerechos')}}" class="btn btn-block btn-primary text-center">Solicita aqu&iacute;</a>
        </div>  
        <div class="col-lg-4 col-md-4 col-sm-12"></div>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12"></div>
</div><!-- Fin de Boton para la solicitud -->