{# Plantilla de la Seccion Texto #}
<section><!-- Seccion Texto -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 texto ">
                <p class="">Todos nuestros precios incluyen IVA, el pago por 
                    Derechos Federales a la Autoridad y los Honorarios.</p>
                <p class="">
                    <strong>PREGUNTA POR PROMOCIONES VIGENTES Y FORMAS DE PAGO.
                    </strong>
                </p>
                <p class="">Somos profesionales expertos en Propiedad Intelectual.</p>
                <p class="">
                    <strong>¡Conoce nuestra GARANT&Iacute;A DE SERVICIO!
                    </strong>
                </p>
                <p class="">Si quieres saber m&aacute;s, no dudes en 
                    contactarnos y visitar nuestra secci&oacute;n 
                    de Preguntas Frecuentes.</p>
            </div>
        </div>
    </div>
</section><!-- Fin Seccion Texto -->
            